/*******************************************************/
/*?                  기타 - Chatting                   */
/*******************************************************/

#chatting_header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    .left{
        margin: 0 5%;
        line-height: 1.8rem;
        @include before(9px, 9px){
            margin-top: 5px;
            border-radius: 50%;
            background-color: #57f93d;
        }
        span{
            font-size: 1.8rem;
            margin: 0 5px ;
        }
    }
    .right{
        margin-right: 5%;
        line-height: 2.2rem;
        font-size: 1.6rem;
        button{
            font-weight: bold;
            font-size: 1.6rem;
        }
        #like{
            margin-right: 5px;
            @include before_img(22px, 22px){
                display: inline-block;
                margin: 0 3px;
                margin-bottom: -5px;
                background-image: url(../img/like_icon.png);
            }
        }
        #report{
            margin-right: 15px;
            @include before_img(22px, 22px){
                display: inline-block;
                margin: 0 3px;
                margin-bottom: -5px;
                background-image: url(../img/report_icon.png);
            }
        }
    }
}
#chatting{
    margin-top: 50px;
    .guide{
        position: fixed;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        padding: 0 10px;
        border-radius: 5px;
        color: #fff;
        background-color: #646464;
        line-height: 3.6rem;
        font-size: 1.4rem;
        z-index: 1;
        cursor: pointer;
        span{
            color: $orange;
        }
    }
    .chatting_body{
        position: absolute;
        width: 90%;
        height: 90%;
        bottom: 58px;
        margin-top: 50px;
        ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%; 
        padding: 60px 10px 10px;
        overflow-y: auto;
        box-sizing: border-box; 
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 5px;
            background-color: #eb6b1f;
        }
        &::-webkit-scrollbar-track{
            background-color: transparent;
        }
        }
        li {
            margin: 10px;   
        }
        .code{
            color: $orange;
            font-weight: bold;
        }
        .price{
            display: block;
            width: 100%;
            line-height: 3rem;
            color: #7d7d7e;
            text-align: center;
        }
        .habom_bot{
            display: block;
            color: $orange;
            font-weight: bold;
            margin-bottom: 8px;
        }
        .orange_btn{
            padding: 8px 20px;
            border-radius: 20px;
            margin: 10px auto 0;
            color: #fff;
            box-shadow: $box-shadow2;
            background-color: $orange;
        }
        .red_btn{
            padding: 8px 20px;
            border-radius: 20px;
            margin: 10px auto 0;
            color: #fff;
            box-shadow: $box-shadow2;
            background-color: #f93d3d;
        }
        .gray_btn{
            display: block;
            padding: 8px 20px;
            border-radius: 20px;
            margin: 10px auto 0;
            color: #fff;
            box-shadow: $box-shadow2;
            background-color: #646464;
        }
        .chatbot{
            display: flex;
            align-self: flex-start;
            @include before_img (30px, 30px) {
                background-image: url(../img/expert_profile_img.png);
                margin: 0 20px  0 0;
            }
            .time{
                display: flex;
                align-items: flex-end;
                margin-left: 5px;
            }
        }
        .chatbot_text {
            position: relative;
            max-width: 280px; 
            padding: 20px; 
            padding: 15px;
            background: #ecf3f4;
            border-radius: 10px;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
        .chatbot_text:after {
            content: ''; 
            position: absolute;
            left: 0px;
            top: 10px; 
            z-index: -1;
            width: 20px;
            height: 20px;
            transform: skewX(45deg);
            background: #ecf3f4;
        }
        .me{
            align-self: flex-end;
            display: flex;
            @include after (30px, 30px) {
                background-image: url(../img/member_profile_img.png);
                background-repeat: no-repeat;
                background-size: contain;
                margin: 0 0  0 20px;
            }
            .time{
                display: flex;
                align-items: flex-end;
                margin-right: 5px;
            }
        }
        .me_text {
            position: relative;
            max-width: 280px; 
            padding: 15px;
            background: #FFE9B1;
            border-radius: 10px;;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
        .me_text:after {
            content: ''; 
            position: absolute;
            right: 0px;
            top: 10px; 
            z-index: -1;
            width: 20px;
            height: 20px;
            transform: skewX(-45deg);
            background: #FFE9B1;
        }
    }

    // 전송 부
    .send{
        position: fixed;
        display: flex;
        bottom: 0;
        width: 90%;
        padding: 10px 0 ;
        justify-content: space-between;
        background-color: #fff;
        button{
            height: 36px;
            border: 1px solid $orange;
            border-radius: 28px;
            color: $orange;
        }
        .input_box{
            @include input_file_hidden{
            }
        }
    }
    .text{
        display: flex;
        justify-content: flex-end;
        width: 70%;
        height: 36px;
        margin: 0 16px;
        border-radius: 28px;
        border: 1px solid #cfd5e4;
        & .input_box:first-child{
            width: 100%;
        }
    }
    #send{
        margin-left: 5px;
        width: 116px;
    }
    #estimate_submit{
        width: 116px;
    }
    #text_submit{
        width: 108px;
    }
    #chat{
        width: 100%;
        height: 36px;
        border: none;
        margin: 0 10px;
        box-sizing: border-box;
        &:focus{
            outline: none;
        }
        & + label{
            font-size: 0;
            line-height: 0;
        }
    }
    #file{
        &:focus + label{
            box-shadow:  0 0 0 2px #000;
            border-radius: 5px;
        }
        & + label{
            margin: 5px 0;
            font-size: 0;
            line-height: 0;
            
            @include background_img(24px, 24px){
                background-image: url(../img/uplode_icon.png);
            }
        }
    }
    #img{
        &:focus + label{
            box-shadow:  0 0 0 2px #000;
            border-radius: 5px;
        }
        & + label{
            margin: 5px 20px 5px 5px;
            font-size: 0;
            line-height: 0;
            @include background_img(24px, 24px){
                background-image: url(../img/img_icon.png);
            }
        }
    }
}
.pop_up{
    position: absolute;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
    z-index: 20;
    .pop_up_bg{
        width: 100%;
        height: 100%;
        background:#000;
        opacity: .5;
    }
    .but{
        padding: 10px 70px;
        border-radius: 5px;
        color: #fff;
        background-color: #939393;
        font-weight: 300;
        &[type="submit"]{
            background-color: $orange;
            padding: 10px 40px;
            margin-right: 20px;
        }
        &[type="button"]{
            margin-right: 20px;
        }
    }
    .pop_up_con{
        position: fixed;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 908px;
        width: 100%;
        max-height: 90vh;
        height: auto;
        padding: 58px 74px;
        background: #fff;
        box-sizing: border-box;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 5px;
            background-color: #eb6b1f;
        }
        &::-webkit-scrollbar-track{
            background-color: transparent;
        }
        h3{
            max-width: 760px;
            width: 100%;
            margin: 0 auto 40px;
            color: #6e6b7b;
            text-align: center;
            font-size: 2rem;
            line-height: 70px;
            box-shadow: 3px 3px 18px -2px rgba(114,114,114,0.1);
        }
        h4{
            margin: 30px 0 20px;
            margin-left: 8px;
            color: #6e6b7b;
            font-size: 1.6rem;
            font-weight: 300;
        }
        textarea{
            width: 100%;
            padding: 10px;
            border-color: #D8D6De;
            border-radius: 5px;
            line-height: 1.5rem;
    
        }
        label{
            display: block;
            font-size: 1.6rem;
            color: #6e6b7b;
        }
        input{
            border:1px solid #D8D6De;
            border-radius: 5px;
            font-size: 1.5rem;
            padding: 0 20px;
        }
        input[type="number"]{
            max-width: 343px;
            width: 100%;
            height: 60px;
        }
        
        caption{
            color: #6e6b7b;
            font-size: 1.6rem;
            font-weight: bold;
        }
        table{
            margin-bottom: 26px;
            width: 100%;
            caption{
                text-align: start;
                margin-bottom: 20px;
            }
        }
        .select{ 
            th{
                color: #6e6b7b;
                background-color: #f8f8f8;
                line-height: 43px;
                font-size: 1.5rem;
                font-weight: 300;
                &:nth-child(1){
                    width: 10%;
                }
                &:nth-child(2){
                    width: 20%;
                }
                &:nth-child(4){
                    width: 20%;
                }
            }
        }
        tbody{
            
            img{
                width: 70px;
                height: 67px;
                margin: auto;
            }
            td{
                height: 97px;
                border-bottom: 1px solid #f8f8f8;
                color: #6e6b7b;
                font-size: 1.5rem;
                text-align: center;
                vertical-align: inherit;
            }
            input[type="checkbox"]{
                display: none;
            }
            input[type="checkbox"] + .rdo_bt {
                display: block; 
                margin: auto;
                width:20px; height: 20px; 
                font-size: 0;
                border: 1px solid #a5a5a5;
                cursor: pointer; 
                border-radius: 50%;
            }
            input[type="checkbox"]:checked + .rdo_bt {
                @include after(14px, 14px){
                    margin-top: 3px;
                    margin-right: 3px;
                    background-color: $orange;
                    border-radius: 50%;
                }
            }
        }
    }
    .center{
        margin: 65px auto 0;
        text-align: center;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 40px;
        width: 40px;
        height: 40px;
        padding: 5px;
        cursor: pointer;
        background-color: transparent;
        @include before(10px, 40px){
            position: absolute;
            top: 0;
            left: 30%;
            background-color: #6f6f6f;
            transform: rotate(45deg);
            border-radius: 5px;
        }
        @include after(10px, 40px){
            position: absolute;
            top: 0;
            left: 30%;
            background-color: #6f6f6f;
            transform: rotate(-45deg);
            border-radius: 5px;
        }
    }
    .input_box{
        
    }
    .total_count{
        margin-top: 30px;
        color: #6e6b7b;
        font-size: 2rem;
        text-align: center;
    }
    .total_price{
        margin: 30px auto 100px;
        color: #4b4b4b;
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
    }
    .input_file{
        .filebox {
            display:inline-block; 
            margin-right: 5px;
            label{
                padding: .5rem .75rem;
            }
        }
        @include input_file_hidden{
            width: 180px;
            height: 180px;
            border: none;
            color: #b9b9c3;
            background-color: #f5f5f5f5;
            text-align: center;
            font-size: 1.5rem;
            box-sizing: border-box;
            @include before_img(24px, 24px){
                margin: 57px auto 5px;
                background-image: url(../img/file_upload.png);
                box-sizing: border-box;
            }
        }
    }
    // 캘린터 예약
    .rez{
        .rez_name{
            margin-bottom: 34px;
            color: #000;
            font-size: 1.6rem;
            span{
                margin-right: 10px;
                font-size: 2.4rem;
                font-weight: bold;
            }
        }
        select{
            max-width: 376px;
            width: 100%;
            height: 39px;
            border: 1px solid #d8d6de;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 0 15px;
        }
        // 달력 상자
        .box{
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #e7e2e2;
            padding: 20px;
            box-sizing: content-box;
            label{
                margin: 0;
            }
        }
        .day{
            position: relative;
            text-align: center;
            cursor: pointer;
            line-height: 30px;
            box-sizing: border-box;
            z-index: 1;
            &:hover{
                border: 1px solid #9c9c9c;
                border-radius: 50%;
                line-height: 28px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                line-height: 28px;
                margin: auto;
                box-sizing: border-box;
            }
        }
        .day_bg{
            position: relative;
        }
        .day_bg_d.start_bg,
        .day_bg_d.end_bg{
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            width: 50%;
            background-color: $orange;
        }
        .day_bg_d.start_bg{
            right: 0;
        }
        .day_bg_d.end_bg{
            left: 0;
        }
        .day.today{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 28px;
            margin: auto;
            border: 1px solid #9c9c9c;
            background-color: rgba(114,114,114,0.2);
            color: #9c9c9c;
        }
        .day.start_day,
        .day.end_day{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
            margin: auto;
            border: 1px solid $orange;
            background-color: #fff;
            box-sizing: border-box;
            line-height: 28px;
        }
        .day.ing_day{
            color: #fff;
            border: none;
            border-radius: 0;
            width: 100%;
            line-height: 30px;
            background-color: $orange;
        }
        .radio{
            display: flex;
            justify-content: flex-end;
            margin-right: 30px;
            label{
                margin-left: 20px;
            }
            .rdo_bt{
                margin: 0 0 0 5px;
            }
            input[type="radio"]{
                display: none;
            }
            input[type="radio"] + .rdo_bt {
                display: block; 
                width:15px; height: 15px; 
                font-size: 0;
                border: 1px solid #a5a5a5;
                cursor: pointer; 
                border-radius: 50%;
            }
            input[type="radio"]:checked + .rdo_bt {
                @include after(12px, 12px){
                    margin-top: 2px;
                    margin-right: 2px;
                    background-color: $orange;
                    border-radius: 50%;
                }
            }
        }
        .rez_calender{
            width: 350px;
            margin-right: 7px;
            margin-bottom: 20px;
            box-sizing: border-box;
            th{
                color: #6e6b7b;
                font-size: 1.2rem;
            }
            td{
                width: 50px;
                height: 50px;
                border-bottom: none;
                text-align: center;
            }
            #calMonth{
                color: #646464;
                font-weight: bold;
                font-size: 1.8rem;
            }
            #calYear{
                color: #6f6f6f;
                font-size: 1.4rem;
            }
            .week{
                color: #6e6b7b;
                font-size: 1.3rem;
            }
        }
        .rez_det{
            width: 349px;
            margin-left: 7px;
            box-sizing: border-box;
            .rez_box_top{
                width: 318px;
                height: 33px;
                border-radius: 5px;
                color: #fff;
                background-color: #989898;
                font-size: 1.5rem;
                text-align: center;
                line-height: 3.3rem;
            }
            .rez_box_bottom{
                display: flex;
                color: #4b4b4b;
            }
            p{
                font-size: 1.4rem;
                line-height: 2rem;
                margin: 0;
                color: #4b4b4b;
            }
            input[type="number"]{
                display: block;
                width: 30px;
                height: 30px;
                padding: 0;
                margin: auto;
                text-align: center;
                background-color: transparent;
                border: none;
            }
            .up_down_but{
                margin: auto;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                appearance: none;
                margin: 0;
            }
            .rez_box_day{
                width: 220px;
                padding: 10px;
                margin: 7px 7px 7px 0;
                border-radius: 5px;
                background-color: #efefef;
            }
            .num_person{
                width: 70px;
                padding: 10px 12px;
                margin: 7px 0 7px 0;
                border-radius: 5px;
                background-color: #efefef;
                box-sizing: border-box;
                p{
                    text-align: center;
                }
                button{
                    width: 21px;
                    height: 21px;
                    border: 1px solid #6e6b7b;
                    border-radius: 5px;
                    background-color: #fff;
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 1rem;
                }
            }
            .cancel{
                width: 21px;
                height: 21px;
                border-radius: 50%;
                margin: auto;
                color: #fff;
                text-align: center;
                font-size: 12px;
                line-height: 21px;
                background-color: #d1c9c9;
            }
        }
        .term{
            display: flex;
            margin-bottom: 20px;
            align-items: center;
            span{
                margin: 0;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: #646464;
            }
            .date{
                height: 25px;
                padding: 0 20px;
                margin: 0 10px;
                color: #4b4b4b;
                background-color: #efefef;
                font-size: 1.4rem;
                line-height: 2.5rem;
            }
            input{
                width: 40px;
                height: 25px;
                border: none;
                border-radius: 0;
                padding: 0;
                margin: 0 5px;
                background-color: #efefef;
                text-align: center;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                appearance: none;
                margin: 0;
            }
            button{
                width: 25px;
                height: 25px;
                border: 1px solid #6e6b7b;
                border-radius: 5px;
                margin: 0 10px;
            }
            button:nth-child(4){
                margin-left: 30px;
            }
        }
        .add_schedule{
            width: 100%;
            border: 1px solid #9c9c9c;
            border-radius: 8px;
            padding: 5px;
            box-shadow: $box-shadow2;
            color: #7d7d7e;
            font-size: 1.6rem;
            text-align: center;
        }
    }
}