/*******************************************************/
/*?                 아이디 비밀번호 찾기                 */
/*******************************************************/
#find_password{
  padding-top: 85px;
  .inner_wrap{
    max-width: 1024px;
    margin: auto;
  }
  h2{
    width: 200px;
    margin: 106px auto 87px;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    color: #4b4b4b;
    text-align: center;
    line-height: 40px;
  }
  h2.fw{
    background-image: url(../img/find_password.png);
  }
  h2.id{
    background-image: url(../img/find_id.png);
  }
  .top{
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 2rem;
    & p:first-child{
      font-weight: bold;
    }
  }
  .find{
    height: 219px;
    padding: 55px 0 0 0;
    border-top: 5px solid $orange;
    p{
      margin-top: 50px;
      text-align: center;
    }
    label{
      width: 80px;
      text-align: center;
      font-weight: 500;
    }
    input{
      max-width: 400px;
      width: 40%;
      height: 48px;
      padding-left: 10px;
      border: 1px solid #d8d6de;
      border-radius: 5px;
      margin: 0 13px;
      font-size: 1.5rem;
      input::placeholder{
        color: #b9b9c3;
      }
    }
    button{
      width: 101px;
      height: 50px;
      border-radius: 5px;
      background-color: $orange;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .find_box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 15px;
      font-size: 1.5rem;
      p{
        font-size: 1.3rem;
        letter-spacing: 0.5;
      }
    }
  }
  .ch_fw{
    height: 200px;
    padding: 55px 0 40px;
    border-top: 5px solid $orange;
    button{
      display: block;
      width: 123px;
      height: 32px;
      border-radius: 5px;
      margin: 40px auto 0;
      background-color: $orange;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
    }
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
    label{
      color: #4b4b4b;
      font-weight: bold;
    }
    input{
      max-width: 400px;
      width: 40%;
      height: 48px;
      padding-left: 10px;
      border: 1px solid #d8d6de;
      border-radius: 5px;
      margin: 0 13px;
      font-size: 1.5rem;
      input::placeholder{
        color: #b9b9c3;
      }
    }
    .fw_input{
      margin-bottom: 15px;
    }
  }
  .find_check{
    height: 100px;
    padding: 55px 0 0 0;
    border-top: 5px solid $orange;
    p{
      text-align: center;
      font-weight: bold;
    }
    button{
      display: block;
      width: 123px;
      height: 32px;
      border-radius: 5px;
      margin: 50px auto 0;
      background-color: $orange;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
    }
    #id{
      margin: 0 10px ;
      color: $orange;
      font-size: 1.8rem;
    }
  }
  #time_out{
    margin-top: 0;
    font-size: 1.3rem;
    color: #4b4b4b;
    span{
      font-size: 1.8rem ;
      font-weight: bold;
    }
    @include tablet{
      margin-left: 300px;
    }
  }
  .bottom{
    margin-bottom: 500px;
    margin-left: 50px;
    font-weight: 500;
    li{
      color: #4b4b4b;
      list-style-type : disc;
      font-size: 1.4rem;
      line-height: 3rem;
    }
    a{
      text-decoration: underline;
      text-decoration-color: #aaa;
      text-underline-position: under;
    }
    .mt{
      margin-top: 100px;
    }
  }
}