#terms{
    width: 100%;
    .container {
		width: 100%;
				.contents_terms_service {
					max-width: 1024px;
					width: 90%;
					padding: 0 5%;
					margin: auto ;
						.terms_service_inner {
							.header{
								padding-bottom: 10px;
								border-bottom: 4px solid 	 #A99D9D;
								h2 {
									font: {
										size: 1.8rem;
									};
									color: #1B1616;
									@include pc {
										font: {
											size: 4.8rem;
										};
										padding-bottom: 36px;
									}
								}			
							}
							.terms_txt {
								margin-top: 30px;
								.list {
									dl {
										dt {
											margin-top: 30px;
											color: #1b1616;
											font: {
												size: 1.6rem;
												weight: bold; 
												}
											};
										}
										dd{
											margin-top: 10px;
											line-height: 20px;
											color: #665454;
											font: {
												size: 1.4rem;
											};
										@include pc {
											text-indent: 20px;
										}	
										}
									}
								}
								
							}
				}
	}		
}
